
<div id="wrap">
  <div class="summary dhide" id="s" style="display: block;">
    <p class="strong">本次交易额<strong id="amount"><%= @dung.total_fee %><sub> 元</sub></strong>将支付给<span id="merchant"><%= @dung.merchant %></span>
   </p>
    <div class="trade-title">
      <p>您购买的是：<label class="t-open" id="trade-switch"></label><a onmouseout="this.style.color='#07679c'" onmouseover="this.style.color='#ff7e00'" style="text-decoration: underline; color: rgb(7, 103, 156);" class="close-list" id="trade-exhibit"><%= @dung.subject %></a></p>
      <dl id="trade-list" style="display: block;">
        <% unless @dung.subject.blank? %>
          <dt>商品名称：</dt>
          <dd><%= @dung.subject %></dd>
        <% end %>
        <dt>交易对方：</dt>
        <dd><%= @dung.merchant %></dd>
        <dt>交易类型：</dt>
        <dd><%= @dung.trade_kind %></dd>
        <dt>订单号：</dt>
        <dd><%= @dung.trade_no %></dd>
        <dt>商品价格：</dt>
        <dd><%= @dung.price %> 元</dd>
      </dl>
    </div>
  </div>

  <div class="Pad" id="comfirm">
    <form action="/order/pay" method="post" target="_blank">
      <input type="hidden" value="<%= @dung.notify_url%>" name="notify_url" />
      <input type="hidden" value="<%= @dung.notify_to_query %>" name="notify" />
      <input type="hidden" value="<%= @dung.kind %>" name="notify_kind" />
      <input type="submit" value="确认无误, 付款"/>
    </form>
  </div>

</div>
